.nav {
  display: flex;
  width: 100%;
  height: auto;
  background-color: black;
  justify-content: flex-end;
  flex-direction: row;
}

.nav--a {
  margin-right: auto;
  margin-left: 1px;
}

.nav--logo {
  height: 100px;
  padding-left: 10px;
}

.nav--ul {
  display: flex;
  padding: 10px;
  margin: 20px;
  margin-right: 10px;
  list-style: none;
}

.nav--li {
  padding: 10px;
}
.nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 7px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
